#projects {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  margin: 0 auto;
}
.workTitle {
  margin: 1rem 0;
  font-size: 3rem;
}
.workImgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 65rem;
}
.workImg {
  object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
}
.projectBtn {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2rem;
  background: white;
  font-size: 1rem;
  margin: 3rem 0;
}
@media screen and (max-width: 585px) {
  .workImg {
    height: 48vw;
  }
}
